<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <!-- Inclua seus CSS globais aqui -->
</head>
<body>
    <header>
        <!-- Cabeçalho global -->
    </header>

    <main>
        {% block conteudo %}<h1>Meu Conteudo{% endblock %}
    </main>

    <footer>
        <!-- Rodapé global -->
        <p>&copy; 2025 • Meu Site</p>
    </footer>

    <!-- Inclua seus JS globais aqui -->
</body>
</html>